
@model BudgetForecast.Models.LoginUserViewModel
@{
    ViewBag.Title = "Login Budget&Forecast";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<br>
<br>
<br>
<div class="card card-container">
    <h5 class="text-center mb-4">Budget&Forecast <span class="text-danger">[Test]</span></h5>
    <img class="profile-img-card" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUUL4xmD5Dk_p1W7_8LFhfUBZi51UQf5UUCYKL8PWrbg&s?sz=120" alt="" />
    @*<img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />*@
    <p id="profile-name" class="profile-name-card"></p>

    <form class="form-signin form-horizontal" method="POST" action="@Url.Action("Login", "Home")" onsubmit="$.LoadingOverlay('show');">
        <input type="text" name="User" id="inputEmail" class="form-control" placeholder="Username" required autofocus>

        <div class="input-group-btn">
            <div class="input-group-prepend">
                <input type="password" name="Password" id="inputPassword" class="form-control" placeholder="Password" required>
                <span class="input-group-text" style="max-height: 44px; cursor: pointer; margin-left: -1px;" onclick="showPassword();"><i class="fa fa-eye"> </i></span>
            </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
        <br>
        <h6 class="text-center mb-4 text-danger">ระบบรองรับ iOS เวอร์ชั่น 16.7 ขึ้นไป</h6>
    </form>
    @*<a href="#" class="forgot-password">
            Forgot the password?
        </a>*@
    <br>
    <div style="color:red">
        @Html.ValidationSummary(true)
    </div>
</div><!-- /card-container -->
<script defer>
    function showPassword() {
        var x = document.getElementById("inputPassword");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }

    function LoadingShow() {
        $.LoadingOverlay("show");
    }

    function LoadingHide() {
        $.LoadingOverlay("hide");
    }
</script>